[submodule "vender/tinyobjloader"]
	path = vender/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "vender/stb_image"]
	path = vender/stb_image
	url = https://github.com/nothings/stb.git
[submodule "vender/eigen"]
	path = vender/eigen
	url = https://gitee.com/QQ975150313/Eigen.git
